@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.cardcontainer {
    display: inline-block;
}

.usercard {
    background-color: rgb(228, 222, 222);
    border: 3px solid rgb(76, 78, 78);
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.usercard > img {
    width: 15vw;
    height: 15vw;
    border: 3px solid rgb(76, 78, 78) ;
}

.details {
    margin: 10px ;
    margin-left: 40px;
}

.details > h2 {
    margin: 0px 0 40px 0;
}